@model Aaditya.Models.User

<div class="mb-3">
    <label class="form-label" for="uName">Name</label>
    <input asp-for="uName" class="form-control" id="uName" />
    <span asp-validation-for="uName" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label" for="uEmail">Email</label>
    <input asp-for="uEmail" class="form-control" id="uEmail" />
    <span asp-validation-for="uEmail" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label" for="uContact">Contact</label>
    <input asp-for="uContact" class="form-control" id="uContact" />
    <span asp-validation-for="uContact" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label" for="uAddress">Address</label>
    <input asp-for="uAddress" class="form-control" id="uAddress" />
</div>
<div class="mb-3">
    <label class="form-label" for="uPincode">Pincode</label>
    <input asp-for="uPincode" class="form-control" id="uPincode" />
</div>
